@import 'https://fonts.googleapis.com/css?family=Orbitron';

body {
  background-color: gray;
  margin: 0 auto;
  max-width: 500px;
  font-family: 'Orbitron';
  background-image: url('http://wallpaper.zone/img/108180.png');
  background-size: cover;
}

.main {
  position: relative;
  height: 500px;
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  border: 5px solid black;
  
}

.row {
  height: 50%;
  width: 100%;  
  margin: 0 auto;
}

.col-xs-6 {
  height: 100%; 
  border: 1px solid black;
  
}

.simon {
  color: white;
  margin-top: 40px;
  margin-bottom: -70px;
}

.center {
  position: absolute;
  border: 3px solid gray;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  top: 135px;
  left: 135px;
  z-index: 100;
  background-color: rgba(0,0,0,1);
  text-align: center;
}

#green {
  background-color: rgba(0, 167, 74, 1);
}

#red {
  background-color: rgba(159, 15, 23, 1);
}

#yellow {
  background-color: rgba(204, 167, 7, 1);
}

#blue {
  background-color: rgba(9, 74, 143, 1);
}

.activated {
 filter: brightness(140%); 
}

.col-xs-6:active {
  filter: brightness(140%);
}

.display {
  border: 2px solid black;
  height: 40px;
  width: 40%;
  margin: 90px auto 0px;
  background-color: rgba(120,0,0,1);
  color: rgba(200, 0, 0, 1);
}

.display h2 {
  margin: 5px auto;
}

button {
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: yellow;
  outline: none;
}

.starttext {
 color: white; 
 width: 30px;
 height: 20px;
 margin-left: 65px;
 margin-right: 0px;
}

.stricttext {
 color: white; 
 width: 30px;
 height: 20px;
 margin-left: 115px;
 margin-top: -30px;
 margin-bottom: 60px;
}


.light {
  border: 1px solid black;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 150px;
  margin-top: 20px;
  margin-bottom: -30px;
  
}

.redbutton {
  background-color: green;
}

@media screen and (max-width: 500px) {
  .main {
    width: 300px;
    height: 300px;
  } 
  
  .center {
    width: 120px;
    height: 120px;
    top: 85px;
    left: 85px;
  }
  .simon {
    margin-top: 22px;
    margin-bottom: -45px;
  }
  
  .simon h1 {
    font-size: 22px;
  }
  
  .display {
    width: 50px;
    height: 20%;
    margin-left: 35px;
    margin: 50px auto;
    margin-bottom: 15px;
  }
  
  .display h2 {
    font-size: 20px;
    margin-top: 0px;
  }
  button {
    margin-top: 12px;
    border-radius: 50%;
    width: 7px;
    height: 10px;
  } 
  .starttext h6 {
    margin-top: 5px;
    font-size: 6px;
    margin-left: -80px;
  }
  
  .stricttext h6 {
    font-size: 6px;
    margin-left: -115px;
  }
  
  .light {
    margin-left: 95px;
    margin-top: -30px;
    margin-bottom: 0px;
  }
}